* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, 
body {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    background: url(../img/817.jpg);
    padding-left: 20px;
    padding-right: 20px;
    /* background-size: cover; */
    
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    text-align: center;
}
h1 {
    font-family: 'Shantell Sans', sans-serif;
    margin-top: 50px;

}
main {
    flex-grow: 1;
    border: #161429 5px solid;
    padding:  50px;
    border-radius: 30px;
    background-color: #bdbec0;
}
.logo-img {
    width: 700px;
}
@media (max-width:750px) {
    .logo-img {
        width: 90%;
    }
}
/* h1 {
    position: absolute;
    top: 70px;
    left: calc(50% - 135px);
    transform: rotateZ(-15deg); 
    color:#b41d00;
    font-size: 48px;
    -webkit-text-stroke: 1px #FFFFFF; 
    text-stroke: 1px #FFFFFF; 
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
} */


ul {
    list-style: none;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:  #bdbec0;
    border: #161429 5px solid;
    padding:  10px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.main-menu li {
    flex-shrink: 0;
    margin: 5px 10px;
} 
.main-menu a {
    display: block;
    color: #f25219;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Shantell Sans', sans-serif;
    transition: all 0.3s ease-in-out,
                transform 0.3s ease-in-out;
                
}

.main-menu a:hover,
.main-menu a:focus {
    color: #9b2b02;
    transform: scale(1.1)
}

.text-copy {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    color:#6408f1;
    margin: 20px 20px;
   font-weight: 700;
    -webkit-box-shadow: 0px 0px 54px 20px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 54px 20px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 54px 20px rgba(255, 255, 255, 1);
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
@media(max-width:950px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:670px) {
    .list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.list-item {
    width: 100%;
    min-height: 200px;
    border: #161429 5px solid;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: url(../img/item-fon.png) no-repeat #6408f1;
    background-size: cover;
    text-decoration: none;
}
.item-title {
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Shantell Sans', sans-serif;
    transition: transform 0.3s ease-in-out;
                
}

.list-item:hover .item-title,
.list-item:focus .item-title {
    transform: scale(1.1)
}

.list-item--1 {
    background-image: url("../img/comic20/Макс\ перемотка\ времени.jpg");
}

.list-item--2 {
    background-image: url("../img/vini/vini2.png");
}

.list-item--3 {
    background-image: url("../img/comic5/img/4.gif");
}

.list-item--4 {
    background-image: url("../img/comic14/foto2.jpg");
}

.list-item--5 {
    background-image: url("../img/my-comic/6.jpg");
}
.list-item--6 {
    background-image: url("../img/comic9/ob.jpg");
}

.list-item--7 {
    background-image: url("../img/simsons/Comic1/1.jpg");
}

.list-item--8 {
    background-image: url("../img/simsons/Comic2/1.jpg");
}

.list-item--9 {
    background-image: url("../img/simsons/Comic3/1.jpg");
}

.list-item--10 {
    background-image: url("../img/simsons/Comic5/1.jpg");
}

.list-item--11 {
    background-image: url("../img/simsons/Comic6/1.jpg");
}

.list-item--12 {
    background-image: url("../img/comic23/1.jpg");
}
.list-item--13 {
    background-image: url("../img/comic10/kotik6.jpg");
    background-position-y: bottom;
}
.list-item--13 .item-title{
    color: black;
}

.list-item--14 {
    background-image: url("../img/cat/cot7.png");
    background-position-y: 50%;
}

.list-item--15 {
    background-image: url("../img/Family/Mother.png");
}
.list-item--15 .item-title{
    color: black;
}
.list-item--16 {
    background-image: url("../img/Kitchens/Shef.png");
}
.list-item--17 {
    background-image: url("../img/New-year/Clock.png");
}
.list-item--18 {
    background-image: url("../img/Student/Book2.png");
}
.list-item--19 {
    background-image: url("../img/comic3/one.jpg");
}
.list-item--20 {
    background-image: url("../img/comic12/santa.jpg");
}
.list-item--21 {
    background-image: url("../img/comic24/pingvin1.jpg");
    background-position-y: 80%;
}
.list-item--22 {
    background-image: url("../img/comic2/frame5.jpg");
}
.list-item--23 {
    background-image: url("../img/comic7/2.jpg");
    background-position-y: 60%;
}
.list-item--24 {
    background-image: url("../img/comic15/6.png");
}
.hide {
    display: none;
}