.comic-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid darkred;
    font-family: 'Shantell Sans', sans-serif;
}

.comic__item {
    width: 50%;
    height: 300px;
    border: 3px solid darkred;
    position: relative;
}

.comic__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cloud-img {
    width: 100%;
}

/****************************/



.comic__item1 .cloud1 {
    position: absolute;
    width: 200px;
    top: 100px;
    left: 120px;
    transform: rotate(20deg);
}

.comic__item1 .cloud-img1 {
    transform: scaleX(1);
    
}

.comic__item1 .text1 {
    position: absolute;
    top: 85px;
    right: 0px;
    font-size: 16px;
    width: 150px;
    transform: rotate(10deg);
}

@media(max-width:600px) {
    .comic__item1 .cloud1 {
        width: 200px;
        top: 100px;
        left: 0;

    }

    .comic__item1 .cloud-img1 {
        transform: scaleX(-1) scaleY(-1);
    }
}
/***************************/

.comic__item2 .cloud1 {
    position: absolute;
    width: 200px;
    top: -40px;
    left: 50px;
    transform: rotate(-20deg);
}

.comic__item2 .cloud-img1 {
    transform: scaleX(-1);
    
}

.comic__item2 .text1 {
    position: absolute;
    top: 80px;
    right: 10px;
    font-size: 16px;
    width: 150px;
    transform: rotate(-10deg);
}

@media(max-width:600px) {
    .comic__item2 .cloud1 {
        width: 200px;
        top: 100px;
        left: 0;

    }

    .comic__item2 .cloud-img1 {
        transform: scaleX(-1) scaleY(-1);
    }
}
/******************************/

.comic__item3 .cloud1 {
    position: absolute;
    width: 200px;
    top: -20px;
    left: 0;
    transform: rotate(20deg);
}

.comic__item3 .cloud-img1 {
    transform: scaleX(-1);
    
}

.comic__item3 .text1 {
    position: absolute;
    top: 80px;
    right: 20px;
    font-size: 16px;
    width: 150px;
    transform: rotate(15deg);
}

@media(max-width:600px) {
    .comic__item3 .cloud1 {
        width: 200px;
        top: 100px;
        left: 0;

    }

    .comic__item3 .cloud-img1 {
        transform: scaleX(-1) scaleY(-1);
    }
}
/********************************/

.comic__item4 .cloud1 {
    position: absolute;
    width: 200px;
    top: -20px;
    left: 90px;
    transform: rotate(335deg);
}

.comic__item4 .cloud-img1 {
    transform: scaleX(-1);
    
}

.comic__item4 .text1 {
    position: absolute;
    top: 75px;
    right: 20px;
    font-size: 16px;
    width: 150px;
    transform: rotate(10deg);
}

@media(max-width:600px) {
    .comic__item4 .cloud1 {
        width: 200px;
        top: 100px;
        left: 0;

    }

    .comic__item4 .cloud-img1 {
        transform: scaleX(-1) scaleY(-1);
    }
}